:root {
  /*colors*/
  --main-kpmg: #00338d;
  --simple-background: #c8c8c8;
  --simple-grey: #ccc;
  --simple-white: #fff;
  --simple-textColor : #555;

  --light-background : #e9ecef;

  /*sizes*/
  --contentHeight: 75vh;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  color: var(--simple-textColor);
}

.shadowDivHover:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.left {
  float : left;
}
.right {
  float : right;
}
.border {
  border : 1px solid var(--simple-background);
}
.fullSize {
  width: 100%;
}
.whiteBack {
  background : var(--simple-white);
}
.radius {
  border-radius : .3rem;
}
.overHidden {
  overflow: hidden;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.point {
  cursor: pointer;
}
.allScroll {
  cursor: all-scroll;
}
.center {
  text-align: "center";
  margin: auto;
  padding: 10px;
}
.round {
  border-radius: 4px;
  border: 1px solid lightgray;
}
.onBord {
  border: 1.5px solid var(--main-kpmg);
}
.hideBord {
  border: 0px solid #ccc;
}

/* Скроллинг, start */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background-color: lightgrey;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* Скроллинг, finish */

/* Делаем текст необводимым */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
/* Правый эелемент */
.floatRight {
  float: right;
}